ï»¿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>WENZHOU UNIVERSITY SCHOLARSHIP-Wenzhou University College Of International Education | Study In China</title><meta name="pageType" content="3">
<meta name="pageTitle" content="WENZHOU UNIVERSITY SCHOLARSHIP">
<META Name="keywords" Content="Wenzhou University College Of International Education | Study In China,Scholarships,WENZHOU,UNIVERSITY,SCHOLARSHIP" />
<META Name="description" Content="Wenzhou University Scholarship for International Students includes 3 categories: Wenzhou University Enrollment Scholarship for International Students of Degree programs (hereinafter referred to as &quot;Scholarship A&quot;), Wenzhou University Enrollment Scholarship for Chinese Major International Students (hereinafter referred to as &quot;Scholarship B&quot;), Wenzhou University Scholarship for Outstanding Intern..." />

<link href="../../dfiles/9879/template/default/css/css.css" rel="stylesheet" type="text/css" />
<link href="../../dfiles/9879/template/default/css/reset.css" rel="stylesheet" type="text/css" />
<link href="../../dfiles/9879/template/default/css/zxx.lib.css" rel="stylesheet" type="text/css" />
<script src="../../dfiles/9879/template/default/js/bdtxk172.js" type="text/javascript"></script>
<script src="../../dfiles/9879/template/default/js/msclass.js" type="text/javascript"></script>
<script src="../../dfiles/9879/template/default/js/js.js" type="text/javascript"></script>
<!--[if IE 6]>
<script type="text/javascript" src="../../dfiles/9879/template/default/js/dd_belatedpng_0.0.8a-min.js"></script>
<script type="text/javascript">
 DD_belatedPNG.fix('.png');
</script>
<![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="../../_sitegray/_sitegray_d.css" />
<script language="javascript" src="../../_sitegray/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307b76475652545742000300014253 -->
<link rel="stylesheet" type="text/css" href="../../content.vsb.css" />
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1022,'/content.jsp',1266,1366159520)</script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div class="top"><div class="l"><script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/openlink.js"></script><A title="" href="../../index.htm" onclick="this.style.behavior=;_addDynClicks(&#34;wburl&#34;, 1366159520, 23196)">set home</A>

|
<A title="" href="../../index.htm" onclick="this.style.behavior=;_addDynClicks(&#34;wburl&#34;, 1366159520, 23197)">Favorite</A>

|
<A title="" href="../../lwz/ABOUT_WZU/About_WZU.htm" onclick="this.style.behavior=;_addDynClicks(&#34;wburl&#34;, 1366159520, 23198)">About Us</A>

|
<A title="" href="../../lwz/CONTACT_US.htm" onclick="this.style.behavior=;_addDynClicks(&#34;wburl&#34;, 1366159520, 23199)">Contact </A>

</div><div class="r tu dn"><a href="">Chinese</a>|<a href="">Korean</a>|<a href="">Japanese</a>|<a href="">Thai</a></div></div><div class="search">


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script>
<div id="divu1"></div>
<script type="text/html" id="htmlu1">
    <div id="appu1">
        <div v-if="!isError">
            <input type="text" class="input_txt" placeholder="å¨ææç´¢" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input name="submit_button" class="input_sub" type="submit" name="submit" value=" " v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            åºç¨ç»´æ¤ä¸­ï¼
        </div>
    </div>
</script>
<script>
    $("#divu1").html($("#htmlu1").text());
</script>
<script>
    var appOwner = "1366159520";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu1",
        data: function () {
            return {
                query: {
                    keyWord: "",//æç´¢å³é®è¯
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("è¯·å¡«åæç´¢åå®¹")
                }
            },
        }
    })
</script></div>
        <ul class="nav">
<LI class="nav_li"><A class="nav_a" title="HOME" href="../../index.htm">HOME</A></LI>


<LI class="nav_li"><A class="nav_a" title="ABOUT" href="../../about/ABOUT_WZU.htm">ABOUT</A> 
<UL class="subnav">

<LI><A title="ABOUT WZU" href="../../about/ABOUT_WZU.htm">ABOUT WZU</A></LI>

<LI><A title="ABOUT CIE" href="../../about/ABOUT_CIE.htm">ABOUT CIE</A></LI>

<LI><A title="ABOUT Wenzhou" href="../../about/ABOUT_Wenzhou.htm">ABOUT Wenzhou</A></LI>

<LI><A title="Contact Us" href="../../about/Contact_Us.htm">Contact Us</A></LI>

<LI><A title="Campus Views" href="../../about/Campus_Views.htm">Campus Views</A></LI>
</UL></LI>


<LI class="nav_li"><A class="nav_a" title="PROSPECTIVE STUDENTS" href="../../prospective/How_To_Apply.htm">PROSPECTIVE STUDENTS</A> 
<UL class="subnav">

<LI><A title="How To Apply" href="../../prospective/How_To_Apply.htm">How To Apply</A></LI>

<LI><A title="International Catalog" href="../../prospective/International_Catalog.htm">International Catalog</A></LI>

<LI><A title="Academics" href="../../xwzmben/list.jsp?urltype=tree.TreeTempUrl&wbtreeid=1598">Academics</A></LI>

<LI><A title="Entry Requirements" href="../../prospective/EntryRequirements.htm">Entry Requirements</A></LI>

<LI><A title="Fees" href="../../prospective/Fees.htm">Fees</A></LI>

<LI><A title="Visa" href="../../prospective/Visa.htm">Visa</A></LI>

<LI><A title="FAQ" href="../../prospective/FAQ.htm">FAQ</A></LI>

<LI><A title="Insurance" href="../../prospective/Insurance.htm">Insurance</A></LI>

<LI><A title="Housing" href="../../prospective/Housing.htm">Housing</A></LI>

<LI><A title="Student Guide" href="http://cic.wzu.edu.cn/wp-content/uploads/2021/InternationalStudentsGuide2021.pdf">Student Guide</A></LI>
</UL></LI>

<LI class="nav_li"><A class="nav_a" title="SCHOLARSHIPS" href="../../xwzmben/list.jsp?urltype=tree.TreeTempUrl&wbtreeid=1488">SCHOLARSHIPS</A></LI>


<LI class="nav_li"><A class="nav_a" title="CURRENT STUDENTS" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1678">CURRENT STUDENTS</A> 
<UL class="subnav">

<LI><A title="Notices" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1678">Notices</A></LI>

<LI><A title="Download" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1688">Download</A></LI>

<LI><A title="Regulation" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1698">Regulation</A></LI>

<LI><A title="i-StudentTV" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1708">i-StudentTV</A></LI>
</UL></LI>


<LI class="nav_li"><A class="nav_a" title="NEWS &amp; EVENTS" href="../../xwzmben/imglist.jsp?urltype=tree.TreeTempUrl&wbtreeid=1718">NEWS &amp; EVENTS</A> 
<UL class="subnav">

<LI><A title="News" href="../../xwzmben/imglist.jsp?urltype=tree.TreeTempUrl&wbtreeid=1718">News</A></LI>

<LI><A title="Event" href="../../xwzmben/imglist.jsp?urltype=tree.TreeTempUrl&wbtreeid=1728">Event</A></LI>
</UL></LI>


<LI class="nav_li"><A class="nav_a" title="HSK" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1738">HSK</A> 
<UL class="subnav">

<LI><A title="About HSK" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1738">About HSK</A></LI>

<LI><A title="Notice" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1748">Notice</A></LI>

<LI><A title="Online Application" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1758">Online Application</A></LI>
</UL></LI>


<LI class="nav_li"><A class="nav_a" title="SPECIALITY PROGRAM" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1888">SPECIALITY PROGRAM</A> 
<UL class="subnav">

<LI><A title="College of Electrical and Electronic Engineering" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1888">College of Electrical and Electronic Engineering</A></LI>

<LI><A title="College of Chemistry &amp; Materials Engineering" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1898">College of Chemistry &amp; Materials Engineering</A></LI>

<LI><A title="College of Overseas Chinese" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1908">College of Overseas Chinese</A></LI>

<LI><A title="College of Mechanical and Electrical Engineering" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1918">College of Mechanical and Electrical Engineering</A></LI>

<LI><A title="College of Computer Science and Artificial Intelligence" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1928">College of Computer Science and Artificial Intelligence</A></LI>

<LI><A title="College of Art and Design" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1938">College of Art and Design</A></LI>

<LI><A title="College of Business" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1948">College of Business</A></LI>

<LI><A title="College of Foreign Languages" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1958">College of Foreign Languages</A></LI>

<LI><A title="College of Music" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1968">College of Music</A></LI>

<LI><A title="College of Life and Environmental Sciences" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1978">College of Life and Environmental Sciences</A></LI>
</UL></LI>


<LI class="nav_li"><A class="nav_a" title="SPECIALIZED PROGRAMS" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1848">SPECIALIZED PROGRAMS</A> 
<UL class="subnav">

<LI><A title="Undergraduate" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1848">Undergraduate</A></LI>

<LI><A title="Master" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1858">Master</A></LI>

<LI><A title="Phd" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1868">Phd</A></LI>

<LI><A title="Non-Degree" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1878">Non-Degree</A></LI>
</UL></LI>

<LI class="nav_li"><A class="nav_a" title="Academic Colleges" href="../../xwzmben/list2.jsp?urltype=tree.TreeTempUrl&wbtreeid=1988">Academic Colleges</A></LI>


<LI class="nav_li"><A class="nav_a" title="èç½ç«" href="../../lwz.htm">èç½ç«</A> 
<UL class="subnav">

<LI><A title="EXPLORE" href="../../lwz/EXPLORE/ACADEMICS/Colleges___Majors.htm">EXPLORE</A></LI>

<LI><A title="APPLY" href="../../lwz/APPLY/How_To_Apply.htm">APPLY</A></LI>

<LI><A title="How To Apply" href="../../lwz/APPLY/How_To_Apply.htm">How To Apply</A></LI>

<LI><A title="International Catalog" href="../../lwz/APPLY/International_Catalog.htm">International Catalog</A></LI>

<LI><A title="Entry Requirements" href="../../lwz/APPLY/Entry_Requirements.htm">Entry Requirements</A></LI>

<LI><A title="Fees &amp; Bank Info" href="../../lwz/APPLY/Fees___Bank_Info.htm">Fees &amp; Bank Info</A></LI>

<LI><A title="Visa" href="../../lwz/APPLY/Visa.htm">Visa</A></LI>

<LI><A title="Insurance" href="../../lwz/APPLY/Insurance.htm">Insurance</A></LI>

<LI><A title="Housing" href="../../lwz/APPLY/Housing.htm">Housing</A></LI>

<LI><A title="CURRENT STUDENTS" href="../../lwz/CURRENT_STUDENTS/Notice.htm">CURRENT STUDENTS</A></LI>

<LI><A title="partnerships" href="../../wp-content/partner/index.htm">partnerships</A></LI>

<LI><A title="PARTNERSHIPS" href="../../lwz/PARTNERSHIPS.htm">PARTNERSHIPS</A></LI>

<LI><A title="FACULTY" href="../../lwz/FACULTY.htm">FACULTY</A></LI>

<LI><A title="STUDENT ACTIVITY" href="../../lwz/STUDENT_ACTIVITY.htm">STUDENT ACTIVITY</A></LI>
</UL></LI>
</ul>
    </div>
    <div id="content" class="layout">
        <div class="sidebar_left">
            <div class="layout pb2"><IMG class="l" border="0" alt="" src="../../dfiles/9879/template/default/images/t.jpg" width="190" height="15"> 

<DIV class="parent"><A href="../../lwz.htm">èç½ç«</A></DIV>
<UL class="menu">


<LI><A href="../../lwz/EXPLORE/ACADEMICS/Colleges___Majors.htm">EXPLORE</A></LI>


<LI><A href="../../lwz/APPLY/How_To_Apply.htm">APPLY</A></LI>


<LI><A href="../../lwz/APPLY/How_To_Apply.htm">How To Apply</A></LI>


<LI><A href="../../lwz/APPLY/International_Catalog.htm">International Catalog</A></LI>


<LI><A href="../../lwz/APPLY/Entry_Requirements.htm">Entry Requirements</A></LI>


<LI><A href="../../lwz/APPLY/Fees___Bank_Info.htm">Fees &amp; Bank Info</A></LI>


<LI><A href="../../lwz/APPLY/Visa.htm">Visa</A></LI>


<LI><A href="../../lwz/APPLY/Insurance.htm">Insurance</A></LI>


<LI><A href="../../lwz/APPLY/Housing.htm">Housing</A></LI>


<LI><A href="../../lwz/CURRENT_STUDENTS/Notice.htm">CURRENT STUDENTS</A></LI>


<LI><A href="../../wp-content/partner/index.htm">partnerships</A></LI>


<LI><A href="../../lwz/PARTNERSHIPS.htm">PARTNERSHIPS</A></LI>


<LI><A href="../../lwz/FACULTY.htm">FACULTY</A></LI>


<LI><A href="../../lwz/STUDENT_ACTIVITY.htm">STUDENT ACTIVITY</A></LI>

</UL>

<IMG class="l" border="0" alt="" src="../../dfiles/9879/template/default/images/b.jpg" width="190" height="15"></div>
            <div class="layout mt20 pt10 ovh mb20">    <A title="" href="https://wzu.17gz.org/member/login.do" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1366159520, 22713)"><IMG class="l mb1" border="0" alt="" src="../../images/about_12.jpg" width="190" height="52"></A>
<A title="" href="../../lwz/ADMISSION/Scholarships11.htm" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1366159520, 22714)"><IMG class="l mb1" border="0" alt="" src="../../dfiles/9879/template/default/images/about_14.jpg" width="190" height="52"></A>
<A title="" href="../../lwz/CAMPUS_LIFE/Student_Services.htm" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1366159520, 22715)"><IMG class="l mb1" border="0" alt="" src="../../dfiles/9879/template/default/images/about_16.jpg" width="190" height="52"></A>
<A title="" href="http://www.wzu.edu.cn/3d/index.html" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1366159520, 22717)"><IMG class="l mb1" border="0" alt="" src="../../dfiles/9879/template/default/images/about_20.jpg" width="190" height="52"></A>
</div>
        </div>
        <div class="sidebar_right">
            <div class="position">
                <span>
ADMISSION</span>
                <div class="path">Your Place :
    <A href="../../index.htm">HOME</A><FONT class="ft"></FONT>
    &gt;
    <A href="../../lwz.htm">èç½ç«</A><FONT class="ft"></FONT>
    &gt;
    <A href="../../lwz/ADMISSION/Scholarships11.htm">Scholarships1</A><FONT class="ft"></FONT>


</div>
            </div>
            <div class="ml5 mr5 pt10 lh20">

<script language="javascript" src="../../_dwr/interface/NewsvoteDWR.js"></script><script language="javascript" src="../../_dwr/engine.js"></script><script language="javascript" src="/system/resource/js/news/newscontent.js"></script><link rel="stylesheet" Content-type="text/css" href="/system/resource/style/component/news/content/format4.css"><script language="javascript" src="/system/resource/js/ajax.js"></script><form name="_newscontent_fromname">



<table width="725" align="left" border="0" cellspacing="0" cellpadding="0" style="margin-left:10px;">   <tr>      <th height="30" align="center" style="font-size:16px; font-weight:bold;"><font>WENZHOU UNIVERSITY SCHOLARSHIP</font></th>   </tr>   <tr>            <td height="24" align="center"><font color="#ff7e00">           <span>Author: </span>    <span class="pl10 pr10">Posttime: 2018-04-27</span><span class="pl10 pr10">Readtimes:<script>_showDynClicks("wbnews", 1366159520, 1266)</script></span></font>      </td>   </tr>   
<tr>      <td align="left" valign="top" class="f14" style="padding-bottom:30px;">    <div id="vsb_content_4"><div class="v_news_content">
<p class="vsbcontent_start"><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Wenzhou University Scholarship for International Students includes 3 categories: Wenzhou University Enrollment Scholarship for International Students of Degree programs (hereinafter referred to as "Scholarship A"), Wenzhou University Enrollment Scholarship for Chinese Major International Students (hereinafter referred to as "Scholarship B"), Wenzhou University Scholarship for Outstanding International Students (hereinafter referred to as "Scholarship C").</span></p>
<h4><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Scholarship A -- Wenzhou University Enrollment Scholarship for International Students of Degree programs</span></p></h4>
<p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants for Scholarship A should be international students applying to study in Wenzhou University for bachelor's degree or master's degree. Classes and coverage are:</span></p>
<ul class=" list-paddingleft-2">
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">1st Prize of Scholarship A: 70% of one year tuition;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">2nd Prize of Scholarship A: 40% of one year tuition;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">3rd Prize of Scholarship A: 20% of one year tuition.</span></p></li>
</ul>
<p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Application Requirements of Scholarship A:</span></p>
<ul class=" list-paddingleft-2">
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must be non-Chinese citizens with good health;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must be those who have well abided by China's laws and the university's rules and regulations, who are well conducted and friendly to China;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants for Master's degree programs must be Bachelor degree holders normally at the age of 40 or below, and those for undergraduate programs must have high school diplomas normally at the age of 25 or below;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must show a good attitude towards studies and work hard with excellent academic records;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must have already been admitted as new students of the university in the current year.</span></p></li>
</ul>
<p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Eligible applicants for Scholarship A should submit the following documents to the corresponding International Students Office before May 10 each year (Please note that deadline for Fall semester admission for regular degree students is July 31 each year):</span></p>
<ul class=" list-paddingleft-2">
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">"Wenzhou University Enrollment Scholarship for International Students of Degree programs (Type A) Application Form", completed in Chinese or English;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Notarized latest academic diploma (If the applicant is yet to graduate, a Certificate of Enrollment issued by the attending school should be submitted) - If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Official academic transcript - If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Personal statement (written in Chinese or English), which includes the applicant's history of education and work, the goal and plan of studying at Wenzhou University, research areas and interest, career development, etc;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Recommendation letters respectively from 2 academics with the rank of full professor or associate professor if the applicant wishes to apply for scholarships for graduate studies; one recommendation letter from the applicant's high school principle if the applicant wishes to apply for scholarships for undergraduate studies. The letters must be written in Chinese or English.</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants for design related programs should submit at least one previous works;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Health report (photocopy) -- If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Other merits demonstrating certificates -- If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included.</span></p></li>
</ul>
<h4><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Scholarship B -- Wenzhou University Enrollment Scholarship for Chinese Major International Students</span></p></h4>
<p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants for Scholarship B should be international students applying to study in Wenzhou University for Chinese language programs. Classes and coverage are:</span></p>
<ul class=" list-paddingleft-2">
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">1st Prize of Scholarship B: RMB 2,000 per semester per student;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">2nd Prize of Scholarship B: RMB 1,500 per semester per student;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">3rd Prize of Scholarship B: RMB 1,000 per semester per student.</span></p></li>
</ul>
<p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Application Requirements of Scholarship B:</span></p>
<ul class=" list-paddingleft-2">
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must be non-Chinese citizens with good health;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must be those who have well abided by China's laws and the university's rules and regulations, who are well conducted and friendly to China;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants should have high school qualifications or above;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must show a good attitude towards studies and work hard with excellent academic records;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must have already been admitted as new students of the university in the current year.</span></p></li>
</ul>
<p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Eligible applicants for Scholarship A should submit the following documents to the corresponding International Students Office before May 10 or November 20 each year (Please note that deadline for Chinese language program admission is July 31 or January 15 each year for Fall semester or Spring semester respectively):</span></p>
<ul class=" list-paddingleft-2">
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">"Wenzhou University Enrollment Scholarship for Chinese Major International Students (Type B) Application Form", completed in Chinese or English;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Notarized latest academic diploma (If the applicant is yet to graduate, a Certificate of Enrollment issued by the attending school should be submitted) - If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Official academic transcript - If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Recommendation letters respectively from 2 academics with the rank of full professor or associate professor if the applicant wishes to apply for scholarships for graduate studies; one recommendation letter from the applicant's high school principle if the applicant wishes to apply for scholarships for undergraduate studies. The letters must be written in Chinese or English.</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Health report (photocopy) -- If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Other merits demonstrating certificates -- If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included.</span></p></li>
</ul>
<h4><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Scholarship C -- Wenzhou University Scholarship for Outstanding International Students</span></p></h4>
<p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants for Scholarship C should be international students studying in Wenzhou University for bachelor's degree or master's degree or enrolled in a Chinese language program for over one semester. Classes and coverage are:</span></p>
<ul class=" list-paddingleft-2">
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">1st Prize of Scholarship A: 60% of one year tuition</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">2nd Prize of Scholarship A: 30% of one year tuition</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">3rd Prize of Scholarship A: 20% of one year tuition</span></p></li>
</ul>
<p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Application Requirements of Scholarship C:</span></p>
<ul class=" list-paddingleft-2">
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must be non-Chinese citizens with good health;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must be those who have well abided by China's laws and the university's rules and regulations, who are well conducted and friendly to China;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants must show a good attitude towards studies and work hard with excellent academic records;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Good class attendance: 1st, 2nd and 3rd prize winners must rank top 1/6, 1/3 and 1/2 respectively in class attendance ranking in the whole class.</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Applicants should actively participate in class and extracurricular activities.</span></p></li>
</ul>
<p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Eligible applicants for Scholarship C should submit the following documents to the corresponding International Students Office before September 10 each year:</span></p>
<ul class=" list-paddingleft-2">
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">"Wenzhou University Scholarship for Outstanding International Students (Type C) Application Form", completed in Chinese or English;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Academic transcripts of the most recent academic year (Fall semester starting September of the previous year &amp; Spring semester starting February the applying year) -- both Chinese and English versions;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Class attendance records of the most recent academic year (Fall semester starting September of the previous year &amp; Spring semester starting February the applying year) -- both Chinese and English versions;</span></p></li>
 <li><p><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Other merits demonstrating certificates -- If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included.</span></p></li>
 <li><p class="vsbcontent_end"><span style="font-family: arial, helvetica,sans-serif; font-size: 16px;">Health report (photocopy) -- If documentation is in a language other than Chinese or English, a notarized Chinese or English translation must be included;</span></p></li>
</ul>
</div>
<br />
</div>   </td> </tr>  
<tr>    <td class="pt10" valign="middle" align="right">                     <a href="javascript:void(0)" onclick="history.back();return false;" style="width:86px;height:26px;background:url(../../dfiles/9879/template/default/images/dot/return.jpg) no-repeat 0 0;display:inline-block">&nbsp;&nbsp;</a>                  </td>   </tr></table>

</form>
</div>
        </div>
    </div>
    <div id="footer"><!-- çæåå®¹è¯·å¨æ¬ç»ä»¶"åå®¹éç½®-çæ"å¤å¡«å -->
<p>ç½ç«é¦é¡µã|ãæ ç®åç§°ã|ãæ ç®åç§°ã|ãæ ç®åç§°ã|ãæ ç®åç§°ã|ãæ ç®åç§°ã|ãæ ç®åç§°ã|ãæ ç®åç§°ã|ãæ ç®åç§°ã|ãæ ç®åç§°ã|ãæ ç®åç§°</p></div>
</div>
</body>
</html>

<!--Publish By JCms2010 æ·ç¹ç§æ(www.cnvp.com.cn) 2017-05-12 09:12:07-->


















