ï»¿<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">

<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>Admission Website-Northeast Petroleum University</title><meta name="pageType" content="2">
<meta name="pageTitle" content="Admission Website">
<META Name="keywords" Content="Northeast Petroleum University" />

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<link rel="shortcut icon" href="#" />

<link rel="stylesheet" href="../css/a_style.css">
<link rel="stylesheet" href="../css/index.css">
<script src="../js/a_jquery.js"></script>
<!--<![endif]-->
<!-- Compatible files -->
<!--[if lt IE 9]>
<link rel="stylesheet" href="../css/a_ie8.css">
<script src="../js/a_ijr.js"></script>
<div style=" text-align:center; background:#f00; height:50px;"></div>
<div style=" padding:100px 0; position:relative">
<p class="browsehappy" style=" text-align:center; position:relative; z-index:1000; font-size:24px; color:#000000; margin-bottom:15px">æ¨çæµè§å¨çæ¬è¿ä½ï¼ä¸ºäºä¿è¯æ´å¥½çä½¿ç¨ä½éªï¼è¯·åçº§æ¨çæµè§å¨</p>
<p class="browsehappy" style=" text-align:center; position:relative; z-index:1000; font-size:18px; color:#9B9B9B">ï¼ IE æµè§å¨éè¦ IE9 å IE9 ä»¥ä¸çæ¬ ï¼</p>
</div>
<div style=" text-align:center; background:#f00; height:50px;"></div>
<style>
.index_miso{ display:none;}
</style>
<![endif]-->
<!--Announced by Visual SiteBuilder 9-->
<script language="javascript" src="../_sitegray/_sitegray.js"></script>
<!-- CustomerNO:77656262657232306578475050525742000400014e50 -->
<link rel="stylesheet" type="text/css" href="../zw.vsb.css" />
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1082,'/zw.jsp',-1,1781356151)</script>
</head>

<body>
<section class="index_miso">
<!--============================å¤´é¨ å¼å§=============================-->
    
<section class="header_box">
    <section class="header_box_li" aos="fade-down" aos-duration="1200">
        <header id="header">
            <div class="w1200">
                <div id="logo" class="fl">
                    <div class="box_table">
                        <div class="box_table_cell">
<!-- ç½ç«logoå¾çå°åè¯·å¨æ¬ç»ä»¶"åå®¹éç½®-ç½ç«logo"å¤å¡«å -->



<a href="../index.htm"><img src="../images/logo.png" alt=""></a></div>
                    </div>
                </div>
                
                <div class="right fr">
                    <div class="header_top">
                        <ul class="list_box0 clearfix">
                                <script language="javascript" src="/system/resource/js/dynclicks.js"></script>
<li><a href="https://www.nepu.edu.cn/" target="_blank"><img src="../images/china_ico.png" alt="">ä¸­æ</a></li>

                        </ul>
                        <div class="search_btn fr btn" name="tss">
                            <img class="top_search_white" src="../images/top_search.png" alt="">
                        </div>
                    </div>
                    
                    <nav id="nav">
                           <ul>
<li>
    <a href="../index.htm"><h3>Home</h3></a>
    <div class="sub">
    </div>
</li>
<li>
    <a href="../About_NEPU_/Brief_Introduction.htm"><h3>About NEPU</h3></a>
    <div class="sub">
    <div class="box">
        <a href="../About_NEPU_/Brief_Introduction.htm">Brief Introduction</a>
        <a href="../About_NEPU_/President_s_Welcome.htm">President's Welcome</a>
        <a href="../About_NEPU_/Current_Administrators.htm">Current Administrators</a>
        <a href="../About_NEPU_/Milestone.htm">Milestone</a>
        <a href="../About_NEPU_/Facts___Figures.htm">Facts &amp; Figures</a>
        <a href="../About_NEPU_/Contact_Us.htm">Contact Us</a>
    </div>
    </div>
</li>
<li>
    <a href="../School___Majors.htm"><h3>School &amp; Majors</h3></a>
    <div class="sub">
    <div class="box">
        <a href="../School___Majors/Schools.htm">Schools</a>
        <a href="../School___Majors/Majors.htm">Majors</a>
    </div>
    </div>
</li>
<li>
    <a href="../Academics___Research.htm"><h3>Academics &amp; Research</h3></a>
    <div class="sub">
    <div class="box">
        <a href="../Academics___Research/Key_Disciplines.htm">Key Disciplines</a>
        <a href="../Academics___Research/Key_Laboratories.htm">Key Laboratories</a>
        <a href="../Academics___Research/Research_Institute.htm">Research Institute</a>
    </div>
    </div>
</li>
<li>
    <a href="../International.htm"><h3>International</h3></a>
    <div class="sub">
    <div class="box">
        <a href="International_Exchange.htm">International Exchange</a>
        <a href="General_Information.htm">General Information</a>
        <a href="Study_in_NEPU.htm">Study in NEPU</a>
        <a href="Oversea_Study_Tour_Projects.htm">Oversea Study Tour Projects</a>
        <a href="Admission_Website.htm">Admission Website</a>
    </div>
    </div>
</li>
<li>
    <a href="../Campus_Life/Student_Sports.htm"><h3>Campus Life</h3></a>
    <div class="sub">
    <div class="box">
        <a href="../Campus_Life/Student_Sports.htm">Student Sports</a>
        <a href="../Campus_Life/Cultural_Activities.htm">Cultural Activities</a>
        <a href="../Campus_Life/Campus_Scenery.htm">Campus Scenery</a>
    </div>
    </div>
</li>
</ul>
                    </nav>
                </div>
            </div>
            <i class="line_bot"></i>
        </header>
    </section>
</section>
<script>
$(window).scroll(function() {
    var winHeight=$(this).scrollTop()
    if(winHeight > 40){
        $('#header').addClass('xg');
        $('#header').mouseleave(function(e) {
            $('#header').addClass('xg');
        });
    }else{
        $('#header').removeClass("xg");
        $('#header').mouseleave(function(e) {
            $('#header').removeClass('xg');
        });
    }
});
</script>
<div class="search-dialog-box">
    <div class="search-bg"></div>
    <div class="bubbles-bg">
                <div class="bubble bubble1">
            <div class="circle"></div>
        </div>
                <div class="bubble bubble2">
            <div class="circle"></div>
        </div>
                <div class="bubble bubble3">
            <div class="circle"></div>
        </div>
                <div class="bubble bubble4">
            <div class="circle"></div>
        </div>
                <div class="bubble bubble5">
            <div class="circle"></div>
        </div>
                <div class="bubble bubble6">
            <div class="circle"></div>
        </div>
                <div class="bubble bubble7">
            <div class="circle"></div>
        </div>
                <div class="bubble bubble8">
            <div class="circle"></div>
        </div>
                <div class="bubble bubble9">
            <div class="circle"></div>
        </div>
                <div class="bubble bubble10">
            <div class="circle"></div>
        </div>
            </div>
    <div class="search-dialog">
        <div class="search-tit">
            <div class="wrap-inner">
                    <p>Search for your keywords</p>
            </div>
        </div>
        <div class="search-inner">
            <div class="wrap-inner">




<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><div id="divu3"></div>
<script type="text/html" id="htmlu3">
    <div id="appu3">
        <div v-if="!isError" class="search-input f-cb clearfix">
            <input type="text" placeholder="Please enter the information you want to findï¼" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input type="submit" value="" style="cursor: hand" v-on:click="onSubmit()">
            <a href="javascript:;" class="clear-btn"></a> 
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            åºç¨ç»´æ¤ä¸­ï¼
        </div>
    </div>
</script>
<script>
    $("#divu3").html($("#htmlu3").text());
</script>
<script>
    var appOwner = "1781356151";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu3",
        data: function () {
            return {
                query: {
                    keyWord: "",//æç´¢å³é®è¯
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_en_US"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/aop_views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("è¯·å¡«åæç´¢åå®¹")
                }
            },
        }
    })
</script>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="pub-close">
        <span class="bg"></span>
        <i></i>
    </a>
</div>
<!--pc header end--> 


<!--============================å¤´é¨ ç»æ=============================-->


<!--============================ä¸»ä½ å¼å§=============================-->

<section class="n_banner">


<img src="../images/890.png" />

</section>

<section class="n_container">
    <div class="w1200">
        <div class="n_left">
            <div class="con">
                <h1><div class="box_table"><div class="box_table_cell"><span>
International</span></div></div></h1>
                <ul>
                      
<li>
<a href="International_Exchange.htm">International Exchange</a>
</li>
<li>
<a href="General_Information.htm">General Information</a>
</li>
<li>
<a href="Study_in_NEPU.htm">Study in NEPU</a>
</li>
<li>
<a href="Oversea_Study_Tour_Projects.htm">Oversea Study Tour Projects</a>
</li>
<li class="on">
<a href="Admission_Website.htm">Admission Website</a>
</li>

                </ul>
            </div>
        </div>
        
        <div class="n_right fr">
            <section class="mianbao">
                <h3>
Admission Website</h3>
                <div class="position fr">

                        <a href="../index.htm">Home</a>
                >
                <a href="../International.htm">International</a>
                >
                <a href="Admission_Website.htm">Admission Website</a>
</div>




            </section>
            <section class="n_news_detail">
                <div class="ar_article_box">
              






<script language="javascript" src="/system/resource/js/ajax.js"></script><script language="javascript">_getBatchClickTimes('null',1781356151,'wbnews','u9')</script>
<link rel="stylesheet" Content-type="text/css" href="/system/resource/style/component/news/content/format2.css"><script>function seeContenta9(contentid,size,displayid){	document.getElementById(contentid).innerHTML = '[';	for(var i=0;i<=size;i++){		var allcontentid = contentid+(i+1);		if(allcontentid==displayid){			document.getElementById(contentid).innerHTML += " <span id='"+allcontentid+"' name='"+allcontentid+"'  >"+(i+1)+"</span> ";			document.getElementById(displayid).style.display = 'block';		}else{			document.getElementById(contentid).innerHTML += " <span style='cursor:pointer' id='"+allcontentid+"' name='"+allcontentid+"' onclick=seeContenta9('"+contentid+"','"+size+"','"+allcontentid+"')  >"+(i+1)+"</span> ";			document.getElementById(allcontentid).style.display = 'none';		}	}	document.getElementById(contentid).innerHTML += ']';}</script>
<script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
<script>_addDynClicks('wbnews',1781356151,1210)</script>
<h3 style="font-weight: bold;display:none;">  Admission Website</h3>
<div class="ar_article">
    <div id="vsb_content_2_1210_u91"><div id="vsb_content_2"><div>
 <p class="vsbcontent_start"><strong>1</strong><strong>ï¼</strong><strong>List of majors open for admission</strong></p>
 <p>List of undergraduate majors (taught in Chinese)</p>
 <table border="1" cellspacing="0">
  <tbody>
   <tr class="firstRow" style="background: rgb(160, 42, 38);">
    <td width="36.84%" align="center" valign="middle"><p style=" color: #fff !important;font-weight: bold;">School</p></td>
    <td width="63.16%" align="center" valign="middle"><p style="    color: #fff !important;    font-weight: bold;">Major</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>School of Earth Sciences</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Geochemistry, Geophysics, Prospecting Technology and Engineering, Resource Exploration Engineering, Geology</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Institute of Petroleum Engineering</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Petroleum Engineering, Oil-Gas Storage and Transportation Engineering</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>School of Chemistry and Chemical Engineering</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Chemical Engineering and Technology</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Mechanical Science and Engineering College</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Mechanical Design, Manufacture and Automation</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>School of Civil and Architectural Engineering</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Civil Engineering, Building Environment and Energy Engineering</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Computer and Information Technology College</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Software Engineering</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>School of Economics and Management</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Business Administration</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>International Education School</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Chinese Language and Literature</p></td>
   </tr>
  </tbody>
 </table>
 <p>List of master majors (taught in Chinese)</p>
 <table border="1" cellspacing="0">
  <tbody>
   <tr class="firstRow" style="background: rgb(160, 42, 38);">
    <td width="36.84%" align="center" valign="middle"><p style=" color: #fff !important;font-weight: bold;">School</p></td>
    <td width="63.16%" align="center" valign="middle"><p style="    color: #fff !important;    font-weight: bold;">Major</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>School of Earth Sciences</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Mineral Survey and Exploration; Earth Exploration and Information Technology; Geological Engineering; Mineralogy, Petrology, Ore Deposits Geology; Geochemistry</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Institute of Petroleum Engineering</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Petroleum Engineering, Oil-Gas Storage and Transportation Engineering</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Mechanical Science and Engineering College</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Mechanical Engineering</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Computer and Information Technology College</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Software Engineering</p></td>
   </tr>
  </tbody>
 </table>
 <p>List of undergraduate majors (taught in English)</p>
 <table align="center" border="1" cellspacing="0">
  <tbody>
   <tr class="firstRow" style="background: rgb(160, 42, 38);">
    <td width="36.84%" align="center" valign="middle"><p style=" color: #fff !important;font-weight: bold;">School</p></td>
    <td width="63.16%" align="center" valign="middle"><p style="    color: #fff !important;    font-weight: bold;">Major</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Institute of Petroleum Engineering</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Petroleum Engineering, Oil-Gas Storage and Transportation Engineering</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Mechanical Science and Engineering College</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Mechanical Design, Manufacture and Automation</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>School of Civil and Architectural Engineering</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Building Environment and Energy Engineering</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Computer and Information Technology College</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Computer Science and Technology</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>School of Economics and Management</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Business Administration</p></td>
   </tr>
  </tbody>
 </table>
 <p>List of master majors (taught in English)</p>
 <table align="center" border="1" cellspacing="0">
  <tbody>
   <tr class="firstRow" style="background: rgb(160, 42, 38);">
    <td width="36.84%" align="center" valign="middle"><p style=" color: #fff !important;font-weight: bold;">School</p></td>
    <td width="63.16%" valign="middle" align="center"><p style="    color: #fff !important;    font-weight: bold;">Major</p></td>
   </tr>
   <tr>
    <td width="36.84%" align="center" valign="middle"><p>Institute of Petroleum Engineering</p></td>
    <td width="63.16%" align="center" valign="middle"><p>Petroleum Engineering, Oil-Gas Storage and Transportation Engineering</p></td>
   </tr>
  </tbody>
 </table>
 <p><strong>Note: Minimum number of students for an English teaching class: 10</strong></p>
 <p><strong> </strong></p>
 <p>2ï¼Application</p>
 <p><strong>I. Application requirements</strong></p>
 <p>1. The applicant must not be a citizen of the Peopleâs Republic of China and must be in good health.</p>
 <p>2. Academic requirements for the applicant:</p>
 <p>a.<strong>Chinese language learner:</strong> must have received high school education or equivalent or higher education;</p>
 <p>b.<strong>Undergraduate:</strong> must have received high school education or equivalent or higher education;</p>
 <p>c.<strong>Post-graduate:</strong> must have received undergraduate education or equivalent or higher education;</p>
 <p>d.<strong>PhD:</strong> must have received post-graduate education or equivalent or higher education;</p>
 <p>e. Applicants for undergraduate, post-graduate, and PhD courses must reach Band 4 in the new HSK test; those who have not yet reached Band 4 can take the language preparatory course first, and then transfer to his or her major class after qualifying.</p>
 <p><strong>II. Time of admission:</strong></p>
 <p><strong>Students applying for courses which do not provide a diploma</strong>can enter at any time;</p>
 <p><strong>Students applying for courses with a diploma</strong>must be enrolled before September 1<sup>st</sup>.</p>
 <p>III. Length of schooling and tuition fee</p>
 <p>Registration fee: 800 yuan.</p>
 <p>Non-diploma courses: No limitation on the length of schooling. Tuition fee of 3,500 RMB/month, 9000 RMB /3 months, 16,000 RMB/year (10 months);</p>
 <p>Undergraduate: 4 years of schooling. Tuition fee of 16000 RMB/year for Chinese teaching, and 20000 RMB/year for English teaching;</p>
 <p>Post-graduate: 2-3 years of schooling. Tuition fee of 20,000 RMB / year for Chinese teaching, and 24,000 RMB / year for English teaching.</p>
 <p>PhD: 3 years of schooling. Tuition fee of 30,000 RMB / year for Chinese teaching, and 38,000 RMB / year for English teaching.</p>
 <p><strong>IV. Boarding fee</strong></p>
 <p>30 RMB / day for a single room (indoor toilet; Air conditioning, TV, refrigerator, shared kitchen, shared laundry room), RMB 9000 / year;</p>
 <p>20 RMB/day for a double room (indoor toilet; Air conditioning, TV, refrigerator, shared kitchen, shared laundry room), 6000 RMB/year.</p>
 <p><strong>V.</strong><strong> Scholarship of Northeast Petroleum University for International Students</strong></p>
 <p>First-class scholarship: Each individual scholarship is 11,000 RMB/Year</p>
 <p>Second-class scholarship: Each individual scholarship is 8,000 RMB/Year</p>
 <p>Third-class scholarship: Each individual scholarship is 7,500 RMB/Year</p>
 <p><strong>VI. Application materials required:</strong></p>
 <p>1. Two copies of<em>Northeast Petroleum University Application for Admission-Foreign Students</em>(which can be downloaded fromhttp://gjjy.nepu.edu.cn/, or obtained from School of International Education of Northeast Petroleum University);</p>
 <p>2. A copy of the applicantâs passport;</p>
 <p>3. Students applying for a diploma must provide a copy of their high school diploma and HSK certificate; those applying for master or doctoral degrees should also provide their undergraduate diploma, and post-graduate diploma;</p>
 <p><strong>3</strong><strong> C</strong><strong>o</strong><strong>ntact us</strong></p>
 <p>Address: No. 99, Xuefu Street, High-tech Development Zone, Daqing City, Heilongjiang Province, China</p>
 <p>School of International Education of Northeast Petroleum University</p>
 <p>Zip code: 163318</p>
 <p>Contact person: Ms. Du</p>
 <p>Tel: +86-459-6507955 18745965991</p>
 <p>E-mail:dygjjyxydls@163.com</p>
 <p class="vsbcontent_end">Website: http://gjjy.nepu.edu.cn/</p>
</div></div></div>
    <span id="vsb_content_2_1210_u9" name="vsb_content_2_1210_u9"></span><br /><br />
    
</div>




                </div>
            </section>
        </div>
    </div>
</section>

<!--============================ä¸»ä½ ç»æ=============================-->


<!--============================åºé¨ å¼å§=============================-->

<footer>
    <div class="w1200 clearfix">
        <div class="left fl clearfix">
            <dl>
                <dt>Main Campus</dt>
                       
<ul class=" list-paddingleft-2"> 
 <li><p><span style="color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; opacity: 0.6;">No.99,Xuefu Street,High-tech Development Zone<br>Daqing City<br>Heilongjiang, P. R. China<br>163318</span></p></li> 
</ul>
            </dl>
            <dl>
                <dt>Qinhuangdao Campus</dt>
                  
<ul class=" list-paddingleft-2"> 
 <li> <p> <span style="color: rgb(255, 255, 255); line-height: 26px; font-size: 12px; opacity: 0.6;">No. 550, West Hebei Avenue<br>Qinhuangdao City <br>Hebei , P. R. China<br>066004</span> </p> </li> 
</ul>
            </dl>
            
        </div>
        
        <div class="center fl clearfix">
                <img src="../images/footer_logo.png" alt="">

        </div>
        
        <div class="right fr clearfix">
            <ul class="clearfix list_box5">
                    


<li>
<h3><img src="../images/ewm-1.jpg" alt=""></h3>
<h5>Weibo</h5>
</li>
<li>
<h3><img src="../images/ewm.jpg" alt=""></h3>
<h5>WeChat</h5>
</li>

            </ul>
        </div>
    </div>
</footer>

<section class="footer_box">
    <div class="w1200">
        <!-- çæåå®¹è¯·å¨æ¬ç»ä»¶"åå®¹éç½®-çæ"å¤å¡«å -->
<p>Copyright Â© 2021 Northeast Petroleum University.&nbsp; All Right Reserved</p>
    </div>
</section>

<div class="hide" id="gotop">
    <svg t="1620981491725" class="icon" viewbox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14041" width="16" height="16"><path d="M825.568 555.328l-287.392-289.28C531.808 259.648 523.488 256.576 515.2 256.64 514.08 256.544 513.12 256 512 256c-4.672 0-9.024 1.088-13.024 2.88-4.032 1.536-7.872 3.872-11.136 7.136l-259.328 258.88c-12.512 12.48-12.544 32.736-0.032 45.248 6.24 6.272 14.432 9.408 22.656 9.408 8.192 0 16.352-3.136 22.624-9.344L480 364.288 480 928c0 17.696 14.336 32 32 32s32-14.304 32-32L544 362.72l236.192 237.728c6.24 6.272 14.496 9.44 22.688 9.44s16.32-3.104 22.56-9.312C838.016 588.128 838.048 567.84 825.568 555.328zM864 192 160 192C142.336 192 128 177.664 128 160s14.336-32 32-32l704 0c17.696 0 32 14.336 32 32S881.696 192 864 192z" p-id="14042"></path></svg>
</div>
<script>
$(window).scroll(function() {
    if ($(this).scrollTop()>100){
        $("#gotop").removeClass("hide");
    }else{
        $("#gotop").addClass("hide");
    };
});
$('#gotop').click(function () {
    $('html,body').animate({
        scrollTop : '0px'
    }, 800);
}); 
</script>

<!--============================åºé¨ ç»æ=============================-->


<!--============================å¨ç» å¼å§=============================-->

<script src="../js/a_style.js"></script>

<!--============================å¨ç» ç»æ=============================-->
</section>
</body>
</html>


















